@model AM_QMQ.ViewsModel.PersonViewModel
@{
    ViewBag.Title = "Cadastro de Doadores";
}

<h2>Cadastrar</h2>

@using (@Html.BeginForm("Cadastrar", "Pessoa"))
{
    @Helper.Mensagem(TempData["msg"] as string, "success")
    @Html.ValidationSummary()
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.Email)
            @Html.TextBoxFor(p => p.Email, new { @class = "form-control", placeholder = "Email" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.UserName)
            @Html.TextBoxFor(p => p.UserName, new { @class = "form-control", placeholder = "Nome de Usuario" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.Type)
            @Html.RadioButtonFor(p => p.Type, "I", new { id = "ind" }) 
            @Html.Label("ind", "Física")
            @Html.RadioButtonFor(p => p.Type, "L", new { id = "legal" }) 
            @Html.Label("legal", "Jurídica")
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.Password)
            @Html.PasswordFor(p => p.Password, new { @class = "form-control", placeholder = "Senha" })
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-md-6">
            <label for="Password2">Confirmar Senha</label>
            <input type="password" name="Password2" id="Password2" class="form-control" placeholder="Confirmar Senha" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <input type="submit" value="Cadastrar" class="btn btn-success btn-md" />
            @Html.ActionLink("Logar", "Logar", "Pessoa", null, new { @class="btn btn-info" })
        </div>
    </div>
    
    <div>
        <button id="botao">botao</button>
    </div>
}

<script>
    $().ready(function () {
        $("#Email").blur(function () {
            $.ajax({
                url: "http://localhost:2896/api/pessoaws?email=" + $("#Email").val(),
                type: "get",
                success: function (retorno) {
                    if (retorno.length >= 1) {
                        alert("SDF");
                    }
                }
            })
        })
    });
</script>