@model AM_QMQ.ViewsModel.LogarViewModel

@{
    ViewBag.Title = "Logar";
}

<h2>Logar</h2>

@using (@Html.BeginForm("Logar", "Pessoa"))
{
    @Helper.Mensagem(TempData["msg"] as string, "danger")
    @Html.ValidationSummary()
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(u => u.Email)
            @Html.TextBoxFor(u => u.Email, new { @class = "form-control", placeholder = "Email" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(u => u.Password)
            @Html.PasswordFor(u => u.Password, new { @class = "form-control", placeholder = "Senha" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <input type="submit" value="Logar" class="btn btn-success btn-md" />
            @Html.ActionLink("Cadastrar", "Cadastrar", "Pessoa", null, new { @class = "btn btn-info" })
        </div>
    </div>
}